@import './settings';
@import './variables/colors';
@import './modules/about';
@import './modules/button';
@import './modules/footer-main';
@import './modules/hero';
@import './modules/nav-main';
@import './modules/particles';
@import './modules/portfolio';
@import './modules/section';
@import './modules/skills';
@import './modules/vertical-break';
@import './modules/welcome';
@import './modules/wrapper';

a {
  color: $white;
  text-decoration: none;
  transition: .25s all linear;
  &:hover {
    color: lighten($primary, 25%);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}