.contact
  +e('container')
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 100%

  +e('info')
    max-width: 30rem
    text-align: justify
    +xl
      padding-right: 3rem

  & button
    background: orange
    border: 0
    color: #fff
    display: block
    margin: 1em auto
    padding: .5em 2em

  & form
    width: 100%
    max-width: 30rem
    
  & input
    width: 100%

  & textarea
    width: 100%