.footer
  a
    color: #aaa

  li
    list-style: none

  ul
    padding: 0

  +e('container')
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin: 0 auto
    max-width: 80%

  +e('exit')
    +main
      font-size: .8rem
    +lg
      font-size: 1rem
