.portfolio
  +e('project-card')
    color: #ccc
    margin: 1rem auto
    padding: 0 .5rem
    width: 20rem

  +e('card-background')
    background-color: #222
    border-radius: .5rem
    padding: 1rem

  h3
    +main
      color: #222
      font-weight: 700
      margin-bottom: .5rem
      margin-top: -1rem
    +sm
      margin-top: 1rem

  p
    +main
      display: none
      margin: 0
      text-align: left
    +sm
      display: block

  +e('container')
    align-items: baseline
    display: flex
    flex-wrap: wrap

  ul
    list-style: none
    padding: 0

  img
    border-radius: .3rem
    height: auto
    max-width: 100%
