.about__break {
  background-color: #1e90ff;
  height: 100px;
  opacity: .3;
  width: 3px; }

.about__container {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  margin-top: 2rem; }

.button--primary {
  background-color: #1e90ff;
  border-bottom: 3px solid #006ad1;
  border-left: 0;
  border-radius: .5rem;
  border-right: 3px solid #006ad1;
  border-top: 0;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: .75rem 1.5rem; }

.footer-main {
  background-color: #111;
  padding: 5rem 0; }

.footer-main__container {
  color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.footer-main__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-main__list-header {
  margin-top: 0; }

.footer-main__item {
  color: #aaa;
  padding: .25rem; }

.footer-main__icon {
  color: #555; }

.fa-tree {
  color: #222;
  margin: 2rem auto -2rem;
  display: block; }

.hero {
  background: url("/src/public/img/bg.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Muli', sans-serif;
  height: 100vh; }
  @media (max-width: 576px) {
    .hero {
      background: url("/src/public/img/bg-mobile.jpg") center center no-repeat; } }

.hero__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.hero__inner--fancy {
  color: #fff;
  cursor: default;
  text-shadow: 0.2rem 0.2rem 3rem #000; }

.hero__slider {
  animation-delay: 2s;
  animation-duration: 4s;
  bottom: 0;
  position: absolute; }

.hero__subtitle {
  animation-delay: 1s;
  animation-duration: 2s;
  font-size: 2.5rem;
  margin: 0; }
  @media (max-width: 576px) {
    .hero__subtitle {
      font-size: 1.5rem; } }

.hero__title {
  font-size: 7rem;
  margin: 0; }
  @media (max-width: 768px) {
    .hero__title {
      font-size: 5rem; } }
  @media (max-width: 576px) {
    .hero__title {
      font-size: 3rem; } }

.nav-main {
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%; }

.nav-main__container {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .nav-main__container {
      justify-content: center; } }

.nav-main__item {
  color: #fff;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: .2s linear; }
  @media (max-width: 576px) {
    .nav-main__item {
      padding: 0 .5rem; } }
  .nav-main__item:hover {
    color: #9ecfff; }

.nav-main__item--active {
  border: 1px solid #1e90ff;
  color: #1e90ff; }
  .nav-main__item--active:hover {
    border: 1px solid #9ecfff; }

.nav-main__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav-main__navbar {
  align-self: center;
  height: fit-content; }

.nav-main__icon {
  align-self: center;
  color: #fff; }
  @media (max-width: 576px) {
    .nav-main__icon {
      display: none; } }

.portfolio__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem; }

.portfolio__icon {
  font-size: 6rem; }
  @media (max-width: 576px) {
    .portfolio__icon {
      font-size: 4rem; } }

.portfolio__title {
  font-size: 1.5rem;
  font-weight: 700; }
  @media (max-width: 576px) {
    .portfolio__title {
      font-size: 1rem; } }

.portfolio__btn-container {
  text-align: center; }

.portfolio__grid {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin: 2.5rem 0; }
  @media (max-width: 576px) {
    .portfolio__grid {
      grid-column-gap: .25rem;
      grid-row-gap: 0;
      grid-template-columns: repeat(auto-fit, 150px);
      margin: .5rem 0; } }

.portfolio__img {
  max-width: 100%;
  transition: all .3s linear; }
  .portfolio__img:hover {
    transform: scale(1.1, 1.1); }

.section {
  box-sizing: border-box;
  padding: 5rem 1rem;
  width: 100%; }
  @media (max-width: 768px) {
    .section {
      padding: 2rem 1rem; } }

.section--dark {
  background-color: #111; }

.section--light {
  background-color: #eee; }

.section__break {
  background-color: #1e90ff;
  border: 0;
  height: 3px;
  margin: 0 auto;
  width: 10rem; }

.section__header {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.section__header--dark {
  color: #111; }

.section__header--fancy {
  color: #0077ea; }

.section__header--light {
  color: #fff; }

.welcome__card {
  background-color: #fff;
  border-bottom: 2px solid #d1e8ff;
  border-radius: 2rem;
  border-right: 2px solid #d1e8ff;
  margin: 1rem .5rem 0;
  padding: 2rem;
  text-align: center;
  width: 18rem; }
  @media (max-width: 768px) {
    .welcome__card {
      margin: 1rem 0 0;
      width: fit-content; } }

@media (max-width: 992px) {
  .welcome__card--unimportant {
    display: none; } }

.welcome__container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .welcome__container {
      flex-direction: column; } }

.welcome__intro {
  text-align: center; }

.welcome__intro--major {
  color: #777;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem; }

.welcome__icon {
  color: rgba(30, 144, 255, 0.5);
  font-size: 3rem; }

.welcome__link {
  color: #0077ea;
  font-weight: 600; }

.welcome__list {
  list-style: none;
  padding: 0;
  text-align: initial; }
  .welcome__list > li {
    margin: .5rem; }

.welcome__message {
  text-align: justify; }

.welcome__suggested {
  color: #666666; }

.wrapper {
  box-sizing: border-box;
  margin: 0 10rem; }
  @media (max-width: 1200px) {
    .wrapper {
      margin: 0 5rem; } }
  @media (max-width: 992px) {
    .wrapper {
      margin: 0 2rem; } }
  @media (max-width: 768px) {
    .wrapper {
      margin: 0 1rem; } }
  @media (max-width: 576px) {
    .wrapper {
      margin: 0 .2rem; } }

a {
  color: #fff;
  text-decoration: none;
  transition: .25s all linear; }
  a:hover {
    color: #9ecfff; }

body {
  font-family: Arial, Helvetica, sans-serif; }

p {
  line-height: 1.5rem; }
