.gen--bg-dark {
  background-color: #111; }

.gen--bg-light {
  background-color: #eee; }

.gen--bg-white {
  background-color: #fff; }

.gen--cursor-def {
  cursor: default; }

.gen--flex {
  display: flex; }

.gen--link {
  color: #fff;
  text-decoration: none;
  transition: .25s all linear; }
  .gen--link:hover {
    color: #9ecfff; }

.gen--full {
  width: 100%; }

.gen--half {
  width: 50%; }

.gen--middle {
  align-self: center; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-dark {
  color: #111; }

.text-neutral {
  color: #777; }

.text-white {
  color: #fff; }

.text-justify {
  text-align: justify; }

.text-primary-lighter {
  color: #84c2ff; }

.text-primary-darker {
  color: #005db7; }

.text-neutral-darker {
  color: #444444; }

.text-neutral-lighter {
  color: #aaaaaa; }

.about__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; }
  @media (max-width: 768px) {
    .about__container {
      display: flex;
      flex-direction: column; } }

.about__image {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 10rem; }

.btn--primary {
  background-color: #1e90ff;
  border-bottom: 2px solid #006ad1;
  border-left: 0;
  border-radius: .5rem;
  border-right: 2px solid #006ad1;
  border-top: 0;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: .5rem 1.5rem; }

.btn--primary-glow {
  box-shadow: 2px 2px 1rem #1e90ff; }

.contact__container {
  display: grid;
  grid-template: auto / 2fr 1fr;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .contact__container {
      display: flex;
      flex-direction: column; } }

.contact__form {
  padding: 2rem 5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; }
  @media (max-width: 1200px) {
    .contact__form {
      padding: 1.2rem; } }
  @media (max-width: 768px) {
    .contact__form {
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 0rem; } }
  @media (max-width: 576px) {
    .contact__form {
      padding: .5rem; } }

.contact__sources {
  padding: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem; }
  @media (max-width: 768px) {
    .contact__sources {
      border-top-right-radius: 0;
      border-bottom-left-radius: 2rem; } }

.contact__grid {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  overflow: hidden;
  max-width: 100%;
  grid-template-areas: "g-r1a g-r1a g-r1b g-r1b" "g-r2a g-r2a g-r2b g-r2b" "g-r3 g-r3 g-r3 g-r3" ". . . g-r4"; }
  @media (max-width: 992px) {
    .contact__grid {
      display: flex;
      flex-direction: column; }
      .contact__grid * {
        margin: .3rem 0; } }
  .contact__grid > * {
    min-width: 1rem; }

.contact__g-r1a {
  grid-area: g-r1a; }

.contact__g-r1b {
  grid-area: g-r1b; }

.contact__g-r2a {
  grid-area: g-r2a; }

.contact__g-r2b {
  grid-area: g-r2b; }

.contact__g-r3 {
  grid-area: g-r3; }

.contact__g-r4 {
  grid-area: g-r4; }

.footer-main__container {
  color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.footer-main__list > li {
  padding: .25rem; }

.fa-tree {
  color: #222;
  margin: 2rem auto -2rem;
  display: block; }

.hero {
  font-family: 'Muli', sans-serif;
  height: 100vh; }

.hero__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-shadow: 0.2rem 0.2rem 2rem #000; }

.hero__slider {
  bottom: 0;
  position: absolute; }
  .hero__slider > * {
    animation-delay: 2s;
    animation-duration: 4s; }

.hero__subtitle {
  animation-delay: 1s;
  animation-duration: 2s;
  font-size: 2.5rem;
  margin: 0; }
  @media (max-width: 576px) {
    .hero__subtitle {
      font-size: 1.5rem; } }

.hero__title {
  font-size: 7rem;
  margin: 0; }
  @media (max-width: 768px) {
    .hero__title {
      font-size: 5rem; } }
  @media (max-width: 576px) {
    .hero__title {
      font-size: 3rem; } }

.input {
  border-radius: 0.3rem;
  border: 1px solid #aaaaaa;
  padding: .5rem;
  outline: 0;
  box-sizing: border-box; }
  .input:focus {
    border: 1px solid #84c2ff; }
  .input::placeholder {
    color: #c4c4c4; }

.input--m {
  margin: .3rem; }

.input--p {
  padding: .3rem; }

.no-resize {
  resize: vertical; }

.nav-main {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%; }

.nav-main__container {
  display: flex;
  justify-content: space-between;
  margin: 1rem; }
  @media (max-width: 576px) {
    .nav-main__container {
      justify-content: center; } }

.nav-main__item {
  padding: .5rem 1rem; }
  @media (max-width: 576px) {
    .nav-main__item {
      padding: 0 .5rem; } }

.nav-main__item--active {
  border: 1px solid #1e90ff;
  color: #1e90ff; }
  .nav-main__item--active:hover {
    border: 1px solid #9ecfff; }

.particles {
  background: url(../img/bg.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0%;
  position: fixed;
  z-index: -1; }
  @media (max-width: 576px) {
    .particles {
      background: url(../img/bg-mobile.jpg) center center no-repeat; } }

.portfolio__footer-subtitle {
  margin-top: -1.5rem; }

.portfolio__footer-title {
  font-size: 1.5rem; }

.portfolio__footer-list > li {
  margin: .5rem; }

.portfolio__detail {
  width: inherit;
  height: inherit; }

.portfolio__help {
  border: 1px dashed #eee;
  border-radius: 1rem;
  cursor: help;
  font-size: .6rem;
  line-height: 1.2rem;
  margin: -.5rem 0 0 6rem;
  padding: 0 .4rem;
  position: absolute;
  text-transform: uppercase; }

@media (max-width: 576px) {
  .portfolio__icon {
    font-size: 4rem; } }

.portfolio__icon-name {
  font-size: 1.5rem; }
  @media (max-width: 576px) {
    .portfolio__icon-name {
      font-size: 1rem; } }

.portfolio__icons {
  display: flex;
  justify-content: space-around; }

.contain-item, .portfolio__grid-container, .portfolio__overlay, .portfolio__detail {
  height: 100%;
  max-height: 18.75rem;
  max-width: 18.75rem;
  transition: all 0.3s linear;
  width: 100%; }
  @media (max-width: 576px) {
    .contain-item, .portfolio__grid-container, .portfolio__overlay, .portfolio__detail {
      max-height: 9.375rem;
      max-width: 9.375rem;
      overflow: hidden; } }

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18.75rem);
  justify-content: center; }
  @media (max-width: 576px) {
    .portfolio__grid {
      grid-template-columns: repeat(auto-fit, 9.375rem); } }

.portfolio__grid-container:hover {
  transform: scale(1.1, 1.1); }

.portfolio__overlay {
  background-color: #000;
  opacity: 0;
  position: absolute; }

.portfolio__detail {
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  z-index: 1; }
  @media (max-width: 576px) {
    .portfolio__detail > * {
      font-size: .8rem; } }
  .portfolio__detail > h3, .portfolio__detail p {
    pointer-events: none; }

.portfolio__detail-icons {
  justify-content: space-around;
  padding: 2rem;
  pointer-events: none; }
  @media (max-width: 576px) {
    .portfolio__detail-icons {
      padding: 0; } }

.portfolio--active {
  opacity: 1;
  pointer-events: auto; }
  .portfolio--active-lower {
    opacity: .7; }

.section {
  box-sizing: border-box;
  padding: 5rem 1rem; }
  @media (max-width: 768px) {
    .section {
      padding: 2rem 1rem; } }

.section__rule {
  background-color: #1e90ff;
  border: 0;
  height: 3px;
  margin: 0 auto 2rem;
  width: 10rem; }

.section_v-rule {
  background-color: #b7dbff;
  border: 0;
  height: 80%;
  width: 3px;
  margin: 0 2rem; }

.section__header {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }
  .section__header::first-letter {
    color: #0077ea; }

.skills__container {
  display: flex;
  justify-content: space-between;
  margin: -14rem auto 0;
  max-width: 70rem;
  position: relative;
  z-index: 1; }
  @media (max-width: 768px) {
    .skills__container {
      margin: -10rem auto 0; } }
  @media (max-width: 576px) {
    .skills__container {
      flex-wrap: wrap;
      margin: 0; } }

.skills__inner {
  margin: 0 .5rem; }
  @media (max-width: 576px) {
    .skills__inner {
      margin: .2rem; } }

.skills__list > li {
  margin: 0.5rem 0;
  font-size: .8rem; }

.skills__certifications {
  width: 100%; }
  .skills__certifications > table {
    margin: 0 auto;
    width: 80%; }

.skills__icons {
  color: #f8f8f8;
  display: grid;
  font-size: 8rem;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin: 0 auto;
  overflow: hidden; }
  @media (max-width: 768px) {
    .skills__icons {
      font-size: 5rem; } }

.skills__leader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .skills__leader {
      display: flex;
      flex-direction: column; } }

.vertical-break {
  align-self: center;
  background-color: #1e90ff;
  height: 100px;
  opacity: .3;
  width: 3px; }

.welcome__card {
  border-bottom: 2px solid #d1e8ff;
  border-radius: 1.25rem;
  border-right: 2px solid #d1e8ff;
  margin: 1rem .5rem 0;
  padding: 2rem;
  width: 18rem; }
  @media (max-width: 768px) {
    .welcome__card {
      margin: 1rem 0 0;
      width: fit-content; } }

.welcome__container {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .welcome__container {
      flex-direction: column; } }

.welcome__list {
  text-align: initial; }
  .welcome__list > li {
    margin: .5rem; }

.abc {
  background-color: rgba(0, 0, 0, 0.95);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 1px solid #1e90ff;
  color: white;
  font-size: .7rem;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  transform: translate(-3rem, -0.5rem);
  transition: .5s all ease-out;
  width: 8rem; }

.abc--visible {
  opacity: 1; }

.wrapper {
  box-sizing: border-box;
  margin: 0 10rem; }
  @media (min-width: 1600px) {
    .wrapper {
      margin: 0 20rem; } }
  @media (max-width: 1200px) {
    .wrapper {
      margin: 0 5rem; } }
  @media (max-width: 992px) {
    .wrapper {
      margin: 0 2rem; } }
  @media (max-width: 768px) {
    .wrapper {
      margin: 0 1rem; } }
  @media (max-width: 576px) {
    .wrapper {
      margin: 0 .2rem; } }

@media (max-width: 576px) {
  .hide-sm {
    display: none; } }

@media (max-width: 768px) {
  .hide-md {
    display: none; } }

@media (max-width: 992px) {
  .hide-lg {
    display: none; } }

body {
  font-family: Arial, Helvetica, sans-serif; }

p {
  line-height: 1.5rem; }

ul {
  list-style: none;
  padding: 0; }

img {
  max-width: 100%; }
