.gen--bg-dark {
  background-color: $dark;
}

.gen--bg-light {
  background-color: $light;
}

.gen--bg-white {
  background-color: $white;
}

.gen--cursor-def {
  cursor: default;
}

.gen--flex {
  display: flex;
}

.gen--link {
  color: $white;
  text-decoration: none;
  transition: .25s all linear;

  &:hover {
    color: lighten($primary, 25%);
  }
}

.gen--middle {
  align-self: center;
}
