.gen--bg-dark {
  background-color: $dark;
}

.gen--bg-light {
  background-color: $light;
}

.gen--cursor-def {
  cursor: default;
}

.gen--flex {
  display: flex;
}

.gen--hide-sm {
  @include sm {
    display: none;
  }
}

.gen--link {
  text-decoration: none;
  transition: .25s all linear;
}

.gen--link-light {
  color: $white;
  &:hover {
    color: lighten($primary, 25%);
  }
}

.gen--middle {
  align-self: center;
}

.gen--text-dark {
  color: $dark;
}

.gen--text-neutral {
  color: $neutral;
}

.gen--text-white {
  color: $white;
}
