.nav-main {
  background-color: $black-clear;
  position: absolute;
  width: 100%;
}

.nav-main__container {
  @include sm {
    justify-content: center;
  }
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.nav-main__item {
  @include sm {
    padding: 0 .5rem;
  }
  padding: .5rem 1rem;
}

.nav-main__item--active {
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    border: 1px solid lighten($primary, 25%);
  }
}