.portfolio__footer-subtitle {
  margin-top: -1.5rem;
}

.portfolio__footer-title {
  font-size: 1.5rem;
}

.portfolio__footer-list {
  & > li {
    margin: .5rem;
  }
}

.portfolio__grid {
  @include sm {
    grid-template-columns: repeat(auto-fit, 150px);
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

// See '_why.scss' for hover settings.
.portfolio__help {
  border: 1px dashed $light;
  border-radius: 1rem;
  cursor: help;
  font-size: .6rem;
  line-height: 1.2rem;
  margin: -.5rem 0 0 6rem;
  padding: 0 .4rem;
  position: absolute;
  text-transform: uppercase;
}

.portfolio__icon {
  @include sm {
    font-size: 4rem;
  }
}

.portfolio__icon-name {
  @include sm {
    font-size: 1rem;
  }
  font-size: 1.5rem;
}

.portfolio__icons {
  display: flex;
  justify-content: space-around;
}

.portfolio__img {
  transition: all .3s linear;

  &:hover {
    transform: scale(1.1, 1.1)
  }
}