.section {
  box-sizing: border-box;
  padding: 5rem 1rem;
  width: 100%;
}

.section--dark {
  background-color: #111;
}

.section--light {
  background-color: #eee;
}

.section__header {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.section__header--dark {
  color: #222;
}

.section__header--light {
  color: #eee;
}

.section__break {
  background-color: dodgerblue;
  height: 3px;
  margin: 0 auto;
  width: 10rem;
}

.section__header--fancy {
  color: darken(dodgerblue, 10%);
}

