.section {
  @include md {
    padding: 2rem 1rem;
  }
  box-sizing: border-box;
  padding: 5rem 1rem;
}

.section__rule {
  background-color: $primary;
  border: 0;
  height: 3px;
  margin: 0 auto 2rem;
  width: 10rem;
}

.section_v-rule {
  background-color: lighten($primary, 30%);
  border: 0;
  height: 80%;
  width: 3px;
  margin: 0 2rem;
}

.section__header {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &::first-letter {
    color: darken($primary, 10%);
  }
}
