.section {
  @include md {
    padding: 2rem 1rem;
  }
  box-sizing: border-box;
  padding: 5rem 1rem;
  width: 100%;
}

.section--dark {
  background-color: $dark;
}

.section--light {
  background-color: $light;
}

.section__break {
  background-color: $primary;
  border: 0;
  height: 3px;
  margin: 0 auto;
  width: 10rem;
}

.section__header {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.section__header--dark {
  color: $dark;
}

.section__header--fancy {
  color: darken($primary, 10%);
}

.section__header--light {
  color: $white;
}
