.skills__container {
  @include md {
    margin: -10rem auto 0;
  }
  @include sm {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  margin: -14rem auto 0;
  max-width: 70rem;
  position: relative;
  z-index: 1;
}

.skills__inner {
  @include sm {
    margin: .2rem;
    text-align: center;
  }
  margin: 0 .5rem;
}

.skills__list {
  & > li {
    font-size: .8rem;
    margin: 0.5rem 0;
  }
}

.skills__certifications {
  width: 100%;
  & > table {
    margin: 0 auto;
    width: 80%;
  }
}

.skills__icons {
  @include md {
    font-size: 5rem;
  }
  color: lighten($light, 4%);
  display: grid;
  font-size: 8rem;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.skills__leader {
  @include sm {
    display: flex;
    flex-direction: column;
  }
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto;
}