.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-dark {
  color: $dark;
}

.text-neutral {
  color: $neutral;
}

.text-white {
  color: $white;
}

.text-justify {
  text-align: justify;
}

.text-primary-lighter {
  color: lighten($primary, 20%);
}

.text-primary-darker {
  color: darken($primary, 20%);
}

.text-neutral-darker {
  color: darken($neutral, 20%);
}

.text-neutral-lighter {
  color: lighten($neutral, 20%);
}