.footer-main__container {
  color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-main__list {
  & > li {
    padding: .25rem;
  }
}

.fa-tree {
  color: #222;
  margin: 2rem auto -2rem;
  display: block;
}