.particles {
  @include sm {
    background: url("../../public/img/bg-mobile.jpg") center center no-repeat;
  }
  background: url("../../public/img/bg.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0%;
  position: fixed;
  z-index: -1;
}
